.accordian {
    margin: 88px;
    margin-top: 0px;
    padding: 8px;
  }
  
.accordian-ques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #12406f;
    cursor: pointer;
    text-align: left;
}
  
.accordian-open {
    display: grid;
    overflow: hidden;
    transition-property: all;
    transition-duration: 300ms;
    opacity: 1;
    color: #525252;
    font-size: 18px;
    text-align: left;
}
  
.accordian-close {
    display: grid;
    overflow: hidden;
    transition-property: all;
    transition-duration: 300ms;
    opacity: 0;
    color: #525252;
    font-size: 18px;
    text-align: left;
}
  
@media screen and (max-width: 1200px) {
    .accordian {
      margin: 22px;
      margin-top: 0px;
      padding: 8px;
    }
}
